# Use auto-indentation.
set autoindent

# Show line number
set const

# Use smooth scrolling by default.
set smooth

# Use a tab size of "n" columns. The value of n must be greater than 0. The
# default value is 8.
set tabsize "4"

# Set smarhome option
set smarthome

# Set softwrap
set softwrap
